{% extends 'base.html' %}
{% block body %}
    <div class="container searchbar">
        <div class="container">
            <div class="text-center align-self-start">
                <img src="https://ik.imagekit.io/gyzvlawdz/Projects/syrics/Black_Modern_Business_Logo__600___500_px___2240___1260_px__cYRO9HGTQ.png"
                    class="img-fluid">
            </div>
        </div>
        <div class="container w-50">
            <div class="text-center align-self-start">
                <div class="form-floating">
                    <form action="spotify" method="post">
                    <input type="text" class="form-control input-sm" id="floatingInput" name="spotifyurl" placeholder="Enter a Spotify link">
                    <button type="submit" value="submit" class="btn btn-primary mt-3">Search</button>
                    <!-- <div class="m-4 ">
                    </div> -->
                </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}