{% extends 'base.html' %}
{% block body %}
<div class="searchbar px-3 d-flex flex-column align-items-center">
    <div class="row">
        <div class="text-center">
            <img src="https://ik.imagekit.io/gyzvlawdz/Projects/syrics/Black_Modern_Business_Logo__600___500_px___2240___1260_px__cYRO9HGTQ.png"
                class="img-fluid syrics">
            <div class="form-floating">
                <form action="spotify" method="post">
                    <input type="text" class="form-control input-sm mb-3" id="floatingInput" name="url"
                        placeholder="Enter a Spotify link" required>
                    <button type="submit" value="submit" class="btn btn-success btn-lg">Search</button>
                </form>
            </div>
        </div>
    </div>
</div>
<footer class="fixed-bottom text-center text-white">
made with 💖 by <a href="http://akashrchandran.in" target="_blank" rel="noopener noreferrer">akashrchandran</a>.
</footer>
    {% endblock %}

    {% block javascript %}
    {% if error %}
    <script>
        showToast("{{ error }}", "error");
    </script>
    {% endif %}
    {% endblock %}