{% extends 'base.html' %}
{% block body %}

<section id="music_info" class="music_wrapper">
    <div class="container">
        <div class="row justify-content-md-center align-items-center">
            <div class="col w-50 text-center">
                <img class="img-thumbnail rounded-5 m-2" alt="music cover pic" id="music_cover"
                    src="{{ data['image'] }}" width="400" height="400" data-type="{{ types }}"
                    data-id="{{ data['id'] }}" />
            </div>
            <div class="col text-center text-md-start">
                {% if types == 'album' %}
                <div class="d-flex flex-column bd-highlight m-1">
                    <h1 id="album_name">{{ data["name"] }}</h1>
                    <h2>{{ data['artist'] }}</h2>
                    <h4>{{ data['release_date'] }}</h4>
                    <h4 id="total_tracks">{{ data['total_tracks'] }} Tracks</h4>
                    <h4>{{ data['label'] }}</h4>
                </div>
                <button type="button" class="btn btn-success w-md-50" title="download lyrics" id="downzip"
                    data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    <span class="fs-4"><i class="fa fa-download" aria-hidden="true"></i> ZIP</span>
                </button>

                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Zipping Files...</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="progress progress-lg">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger"
                                        role="progressbar" style="width: 0%;" aria-valuemin="0" aria-valuemax="100"
                                        id="progress">0%
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <a href="https://github.com/akashrchandran/syrics-web" target="_blank" rel="noopener noreferrer">
                                    <button type="button" class="btn btn-primary">Visit Github</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% elif types == 'playlist' %}
                <div class="d-flex flex-column bd-highlight m-1">
                    <h1 id="album_name">{{ data["name"] }}</h1>
                    <small>{{ data["desc"] }}</small>
                    <h2>{{ data['owner'] }}</h2>
                    <h4>{{ data['followers'] }} followers</h4>
                    <h4 id="total_tracks">{{ data['total_tracks'] }} Tracks</h4>
                </div>
                <button type="button" class="btn btn-success w-md-50" title="download lyrics" id="downzip"
                    data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    <span class="fs-4"><i class="fa fa-download" aria-hidden="true"></i> ZIP</span>
                </button>

                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Zipping Files...</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="progress progress-lg">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger"
                                        role="progressbar" style="width: 0%;" aria-valuemin="0" aria-valuemax="100"
                                        id="progress">0%
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <a href="https://github.com/akashrchandran/syrics-web" target="_blank" rel="noopener noreferrer">
                                    <button type="button" class="btn btn-primary">Visit Github</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% elif types == 'track' %}
                <div class="d-flex flex-column bd-highlight m-1">
                    <h1 id="album_name">{{ data["track_name"] }}</h1>
                    <h2>{{ data['track_artist'] }}</h2>
                    <h4>{{ data['track_release_date'] }}</h4>
                    <h4>{{ data['track_explicit'] }} track</h4>
                    <h4>{{ data['track_popularity'] }} popularity</h4>
                </div>
                <button class="btn btn-success w-md-50 invisible" title="download lyrics" id="downzip">
                    <span class="fs-4"><i class="fa fa-download" aria-hidden="true"></i> ZIP</span>
                </button>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<section class="m-3">
    <div class="container">
        <ul class="list-group">
            {% if types == 'album' %}
            {% for track in data['tracks'] %}
            <li class="list-group-item">
                <i class="fa fa-play-circle mx-2"></i>
                <span class="fs-5">{{ track['track_number']}}. {{ track['name'] }}</span>
                <span class="text-wrap mx-3"></span>
                <button type="button" class="btn btn-success float-end" title="download lyrics" name="download"
                    data-id="{{ track['id'] }}" data-name="{{ track['track_number']}}. {{ track['name'] }}"
                    data-artist="{{ track['artists'] | map(attribute='name') | join(', ') }}"
                    data-album="{{ data['name'] }}" data-title="{{ track['name'] }}"
                    data-length="{{ track['duration_ms'] | format_duration}}">
                    <i class="fa fa-download" aria-hidden="true"></i>
                </button>
            </li>
            {% endfor %}
            {% elif types == 'playlist' %}
            {% for track in data['tracks'] %}
            <li class="list-group-item">
                <i class="fa fa-play-circle mx-2"></i>
                <span class="fs-5">{{ track['track']['track_number']}}. {{ track['track']['name'] }}</span>
                <span class="text-wrap mx-3"></span>
                <button type="button" class="btn btn-success float-end" title="download lyrics" name="download"
                    data-id="{{ track['track']['id'] }}"
                    data-name="{{ track['track']['track_number']}}. {{ track['track']['name'] }}"
                    data-artist="{{ track['track']['artists'] | map(attribute='name') | join(', ') }}"
                    data-album="{{ track['track']['album']['name'] }}" data-title="{{ track['track']['name'] }}"
                    data-length="{{ track['track']['duration_ms'] | format_duration}}">
                    <i class="fa fa-download" aria-hidden="true"></i>
                </button>
            </li>
            {% endfor %}
            {% elif types == 'track' %}
            <li class="list-group-item">
                <i class="fa fa-play-circle mx-2"></i>
                <span class="fs-5 m-0">{{ data['track_number']}}. {{ data['track_name'] }}</span>
                <span class="bg-danger text-wrap mx-3"></span>
                <button type="button" class="btn btn-success float-end" title="download lyrics" name="download"
                    data-id="{{ data['track_id'] }}" data-name="{{ data['track_number']}}. {{ data['track_name'] }}"
                    data-artist="{{ data['track_artist'] }}"
                    data-album="{{ data['track_album'] }}" data-title="{{ data['track_name'] }}"
                    data-length="{{ data['track_duration'] }}">
                    <i class="fa fa-download" aria-hidden="true"></i>
                </button>
            </li>
            {% endif %}
        </ul>
    </div>
</section>
<script src="{{ url_for('static', filename='js/spotify.js') }}"></script>
{% endblock %}